    /* the body element */
    body {
      background-color: #272727;
      width: 100%;
    }

    /* all elements with the class "websiteTitle" */
    .websiteTitle {
      margin: 0;
      font-family: Helvetica, Arial, sans-serif;
      color: #f9f2f2;
      font-size: 50px;
      padding: 6px 80px;
      background-color: #ff591e;
      border: 10px solid #ff591e;
    }

    /* all elements with the class "headersInBody" */
    .headersInBody {
      font-family: Helvetica, Arial, sans-serif;
      color: #25bfff;
      font-size: 40px;
      padding: 40px 40px 20px 40px;
    }

    /* all elements with the class "topHeader" */
    .topHeader {
      margin: 0;
      font-family: Helvetica, Arial, sans-serif;
      color: #f9f2f2;
      padding: 8px;
      background-color: #25bfff;
      background-clip: padding-box;
      border-radius: 15px;
    }

    /* all elements with the class "topHeaderBox" */
    .topHeaderBox {
      border: 23px solid #ff591e;
      background-color: #ff591e;
      float: left;
    }

    /* all elements with the class "moreNormal" */
    .moreNormal {
      padding: 0px 30px 0px 0px;
    }

    /* element with id="moreValorant" */
    #moreValorant {
      padding: 0px 25px 0px 0px;
    }

    /* all elements with the class "pMain" */
    .pMain {
      font-family: Helvetica, Arial, sans-serif;
      color: #f9f2f2;
      font-weight: bold;
      line-height: 1.25;
    }

    /* all hr elements */
    hr {
      height: 10px;
      background-color: #f9f2f2;
    }

    /* all table elements*/
    #tableHomepage {
      font-size: 40px;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold;
      color: #272727;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 75px;
    }

        /* all th and td elements*/
    th, td {
      padding: 15px;
      border: 10px solid #f9f2f2;
    }

    /* all elements with class="tableMain" */
    .tableMain {
      z-index: 2;
      position: absolute;
      right: 0%;
      top: 14.5%;
      font-family: Helvetica, Arial, sans-serif;
      border:10px solid #f9f2f2;
      border-collapse: collapse;
      color: #f9f2f2;
      background-color: #25bfff;
    }

    /* all elements with the class "gameHeader" */
    .gameHeader {
      z-index: 3;
      position: absolute;
      left: 0.56%;
      top: 14.5%;
      font-family: Helvetica, Arial, sans-serif;
      border: 10px solid #f9f2f2;
      padding: 0px 50px;
      color: #25bfff;
      font-weight: bold;
      background-color: #272727;
      font-size: 30px;
    }

      /* all elements with the class "pSubpage" */
    .pSubpage {
      font-family: Helvetica, Arial, sans-serif;
      color: #f9f2f2;
      font-weight: bold;
      line-height: 1.25;
      width: 80%;
      min-height: 730px;
      padding-top: 100px;
      
    }

    .pItem {
      padding: 30px 0px;
    }

    footer {
      border-top: 10px solid #f9f2f2;
      clear: both;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: bold;
      position: relative;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #25bfff;
      color: #272727;
      text-align: center;
      padding: 20px;
    }

    .footer {
      text-align: center;
      width: 100%
    }

    .footerItem {
      padding: 7px;
      text-shadow: 1px 1px #272727;
      border: 5px solid #25bfff;
      border-radius: 15px;
      border-spacing: 5px;
      background-color: #ff591e;
    }

    a {
      color: #f9f2f2;
      text-decoration: none;
    }

    .copyright {
      color: #f9f2f2;
      padding: 7px;
      border-radius: 15px;
      background-color: #ff591e;
      text-shadow: 1px 1px #272727;
      border: 5px solid #25bfff;
    }
